body {
}

table {
  position: relative;
  left: 10%;
  width: 80%;
}
tr {
  margin-top: 1em;
  opacity: 0.618;
  filter: alpha(opacity=0.618);
}
tr:hover {
  opacity: 1;
  filter: alpha(opacity=1); 
}
td {
}
td:first-child {
  font-size: 3em;
  color: #cccccc;
  text-align: right;
  padding-right: 0.25em;
  border-bottom: 1px dotted grey;
  border-left: 0.1em solid rgba(0,100,0,0);
}
textarea {
  width: 100%;
  border: 1px solid #aaaaaa;
  border-radius: 0.4em;
  padding: 0.5em;
  min-height: 5em;
  resize: vertical;
  margin-top: 0.2em;
  margin-bottom: 0.8em;
}
textarea:focus {
  border: 1px solid #2e96db;
}
input.field {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 1px solid  #aaaaaa;
  padding: 0.5em;
  width: 5em;
  max-width: 40em;
  font-family: monospace;
}
input.field:focus {
  border-bottom: 2px solid #2e96db;
}
input[type="button"] {
  margin-left: 1em;
  margin-right: 1em;
}
input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
}
input#send {
  padding: 0.5em 5em 0.5em 5em;
  margin: 0;
  color: dimgrey;
  background: mintcream;
  border: 1px solid lightgrey;
  border-radius: 0.5em 0 0 0.5em;
}
input#send:hover {
  color: darkgreen;
  border: 1px solid green;
}
input[type="button"]:active {
  position:relative;
  top: 0.1em;
}
input#clear {
  padding: 0.5em;
  margin: 0;
  color: lightgrey;
  background: darkred;
  border: 1px solid darkred;
  border-radius: 0 0.5em 0.5em 0;
}
input#clear:hover {
  color: white;
  border: 1px solid darksalmon;
}
.note {
  color: slategrey;
  font-size: smaller;
}
ul {
  list-style-type: square;
}
td.filled {
  border-left: 0.1em solid rgba(0,100,0,255);
}
div.alert {
  display: none;
  color: firebrick;
  padding: 0.5em;
}
#lang {
  padding-left: 20em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 0.5em;
}
#lang>a {
    background-image: none;
    font-size: 12px;
}
select {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 1px solid  #aaaaaa;
  background: white;
}
#button-bar {
  position: relative;
  padding: 2em;
  top: 2em;
  left: 30%;
}
#hidden-div {
  opacity: 0;
  filter: alpha(opacity=0);
  font-family: monospace;
}
